.main-container{
  height: 100vh;
}
.project-container{
  width: 100%;
  display: table;
}
.navbar-container{
  float: left;
  width: 5%;
  border-style: solid;
  height: 95vh;
  background-color: white;
}
.board-container{
  float: left;
  width: 80%;
  border-style: solid;
  height: 95vh;
  background-color: lightgray;
}
.calendar-container{
  float: left;
  width: 14%;
  border-style: solid;
  height: 95vh;
  background-color: lightgray;
}
.navbar-item{
  width: 90%;
  text-align: center;
  border-style: solid;
  border-color: greenyellow;
  margin-top: 10%;
  padding-top: 15%;
  padding-bottom: 15%;
  display:inline-block;
}
.navbar-item-space{
  width: 100%;
  height: 55vh;
}
.calendar-items-container{
  height: 20vh;
  width: 100%;
  border-style: solid;
  border-color: blue;
  margin-bottom: 10%;
}
.calendar-tasks-container{
  width: 100%;
  display: table;
}
.calendar-tasks-item{
  border-style: solid;
  width: 31%;
  display:inline-block;
  text-align: center;
  margin-bottom: 10%;
}
.calendar-tasks-btn{
  margin-left: 8%;
  border-style: solid;
}
.board-info-container{
  height: 30%;
  border-style: solid;
  border-color: red;
  margin: 1%;
}
.board-projects-container{
  height: 65%;
  border-style: solid;
  border-color:tomato;
  margin: 1%;
}
.board-project-grid{
  width: 98%;
  border-style: dotted;
  border-color: violet;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.board-project-grid-item-container{
  border-radius:20px;
  margin:2px;
  background-color: whitesmoke;
}
.board-project-grid-additem{
  border-radius:20px;
  text-align: center;
  padding-top: 50px;
  margin:2px;
  background-color: whitesmoke;
}
.btn-star{
  background-color: grey;
  height: 20px;
  width: 20px;
  margin-left: 80%;
}
.test-div{
  margin: 8px;
}
.test-div-s{
  margin: 10px;
  display: flex;
}
.test-div-s-s{
  width: 50%;
}